    
    <h2>Template</h2>
    <h5><a href=/professor/adicionar>Add</a> </h5>
    <table border="1">
        <tr>
            <th>Formação</th>
        </tr>
        
        {% for professor in professores %}
        <tr>
            <td>{{professor.formacao}}</td>

            <td><a href=/professor/{{professor.id}}> Detalhe </a> </td>
            <td><a href=/professor/edit/{{professor.id}}> Editar </a> </td>
            <td><a href="/professor/remove/{{professor.id}}"> Excluir </a> </td>
        </tr>

        {% endfor %}
    </table>