<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form action="{% url 'cadastro'%}" method="POST"> {% csrf_token %}
        <input type="text" placeholder="username" name="username">
        <br> <br>
        <input type="password" placeholder="password" name="senha">
        <br> <br>
        <input type="submit" value="cadastrar">
        <a href="/login/">ja tenho conta</a>
    </form>
</body>
</html>